<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What do you want to ask the Coach?">
  <input type="submit" value="Ask!">
</form>

<!-- what's the name of the input field. It is name="question" -->
